.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
    justify-content: center;
    align-items: center;
  }

  .modal-content{
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
  }

  .modal.show {
    display: flex; /* Torna o modal visível */
  }

  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;

    h2 {
      margin: 0;
      font-size: 20px;
      font-weight: 500;
    }

    button {
      margin-left: auto;
    }
  }

  .btn-primary {
    width: 90%;
    padding: 10px;
    background: #4ca1af;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }

  .btn-primary:hover {
    background: #2c3e50;
  }

  .form-control {
    width: 90%;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
  }

  .modal-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .full-width {
    width: 100%;
  }

  .status-preview {
    margin: 10px 0;
    font-weight: 500;
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
  }

